<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerLinks}}
</head>
<body>
   {{>navbar}}
    
    <div class="container-fluid main-header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/s1.png" alt="SAK" class="about_img img-fluid" title="Shafi Ahmad Khan">
                        </figure>
                        </div>
                    <div class="col-md-6 col-12 main_header_left"> 
              <p>Welcome to the weather app!</p>
              <h1>I am a <span class="text_clr">Software Engineer </span>and <span class="text_clr">MERN Stack Developer.</span></h1>
              <a href="/about"><button>About Me</button></a></div>
              
            </div>
            </div>
        </div>
    </div>

  {{>footer}}
</body>
</html>